<ion-header>
  <ion-toolbar
  color="primary"
  mode="ios"
  *ngIf="storageService.instituteName.length > 0"
>
  <ion-title>{{storageService.instituteName}}</ion-title>
</ion-toolbar>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons class="menuButton" slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Daily Practice Paper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <app-calender-component
    *ngIf="eventSource.length > 0; else elseBlock"
    [eventSource]="eventSource"
    (onEventClicked)="handleEventClicked($event)"
  ></app-calender-component
>
<ng-template class="ion-no-margin ion-no-padding" #elseBlock>
  <ion-row>
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="8" class="ion-text-center">
      <h5>{{ viewTitle }}</h5>
    </ion-col>

    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)"
    startHour="6"
    endHour="20"
    step="30"
    startingDayWeek="1"
  >
  </calendar>
</ng-template>
</ion-content>
