<ion-header>
  <ion-toolbar
  color="primary"
  mode="ios"
  *ngIf="storageService.instituteName.length > 0"
>
  <ion-title>{{storageService.instituteName}}</ion-title>
</ion-toolbar>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons class="menuButton" slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Fees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <table id="tblfeesDetails">
    <td colspan="3" color="primary" class="tableName">Fees Status</td>
    <tr>
      <th>Total Fees</th>
      <th>Paid</th>
      <th>Remaining</th>
    </tr>
    <tr>
      <td>{{feesDetails.totalFees | currency: 'INR'}}</td>
      <td>{{feesDetails.paidFees | currency: 'INR'}}</td>
      <td>{{feesDetails.remainingFees | currency: 'INR'}}</td>
    </tr>
  </table>

  <!-- <ion-item class="ion-no-margin ion-no-padding" color="primary">
    <ion-label>Last Fees Paid Transactions</ion-label>
  </ion-item> -->
  <table id="tblfeesDetails">
    <td colspan="3" color="primary" class="tableName">
      Last Fees Paid Transactions
    </td>
    <tr>
      <th>Paid Date</th>
      <th>Amount</th>
    </tr>
    <tr *ngFor="let feesDetails of feesHistoryDetails">
      <td>{{feesDetails.paidDate}}</td>
      <td>{{feesDetails.paidFees | currency: 'INR'}}</td>
    </tr>
  </table>

  <canvas #pieChart></canvas>
</ion-content>
