#tblfeesDetails th,
td {
  text-align: center;
  padding: 4px;
  border: 1px solid #ccc;
}

#tblfeesDetails {
  height: auto;
  padding: 1px;
  margin-top: 5px;
  overflow: scroll;
  border: 1px solid #ccc;
  font-size: 4vw;
  width: 100%;
}
#tblfeesDetails th {
  border: 1px solid #ccc;
}

.tableName {
    color: white;
    background: #3880ff;
}