<ion-header>
  <ion-toolbar
  color="primary"
  mode="ios"
  *ngIf="storageService.instituteName.length > 0"
>
  <ion-title>{{storageService.instituteName}}</ion-title>
</ion-toolbar>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons class="menuButton" slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Offline Result</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <table id="tblfeesDetails">
    <td colspan="5" color="primary" class="tableName">Offline Test Result</td>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Timing</th>
      <th>Marks</th>
      <th>%</th>
    </tr>
    <tr *ngFor="let result of offLineResult">
      <td>{{result.Title}}</td>
      <td>{{result.TestDate}}</td>
      <td>{{result.Timing}}</td>
      <td *ngIf="result.Status == 'True'">
        {{result.ObtainedMarks+'/'+result.TotalMarks}}
      </td>
      <td *ngIf="result.Status == 'True'">{{result.Percentage}}</td>
      <td *ngIf="result.Status == 'False'" colspan="2">Absent</td>
    </tr>
  </table>
</ion-content>
