<ion-content>
  <ion-toolbar
  color="primary"
  mode="ios"
  *ngIf="storageService.instituteName.length > 0"
>
  <ion-title>{{storageService.instituteName}}</ion-title>
</ion-toolbar>
  <div class="div-profile ion-no-padding">
<ion-buttons slot="start">
 <ion-menu-button color="light"></ion-menu-button>
</ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-card class="profile">
      <ion-item lines="none" class="ion-no-margin ion-no-padding">
        <!-- <ion-avatar slot="start">
          <img
            [src]=""
          />
        </ion-avatar> -->
        <ion-label>
          <h3 class="h3">
           {{profileInfo.studentName}}
          </h3>
          <p class="p">
            Contact: {{profileInfo.studentContact}}
          </p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
  <ion-card class="ion-no-padding user-info">
    <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label class="heading">Email: </ion-label>
      <ion-label slot="end" class="info ion-text-end ion-text-wrap">{{profileInfo.email}}</ion-label>
    </ion-item>

    <!-- <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label class="heading">Date of Birth: </ion-label>
      <ion-label slot="end" class="info ion-text-end ion-text-wrap">{{userInfo.birthDate}}</ion-label>
    </ion-item> -->

    <!-- <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label class="heading">Gender:</ion-label>
      <ion-label slot="end" class="info ion-text-end ion-text-wrap">{{userInfo.gender}}</ion-label>
    </ion-item> -->

    <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label class="heading">Parent's Contact: </ion-label>
      <ion-label slot="end" class="info ion-text-end ion-text-wrap">{{profileInfo.parentContact}}</ion-label>
    </ion-item>

    <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label class="heading">Class:</ion-label>
      <ion-label slot="end" class="info ion-text-end ion-text-wrap">{{profileInfo.className}}</ion-label>
    </ion-item>

    <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label class="heading">Subjects:</ion-label>
      <ion-label slot="end" class="info ion-text-end ion-text-wrap">{{profileInfo.subjectName}}</ion-label>
    </ion-item>

    <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label class="heading">Branch Name:</ion-label>
      <ion-label slot="end" class="info ion-text-end ion-text-wrap">{{profileInfo.branchName}}</ion-label>
    </ion-item>

    <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label class="heading">Batch Name</ion-label>
      <ion-label slot="end" class="info ion-text-end ion-text-wrap">{{profileInfo.batchName}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
