<ion-header>
  <ion-toolbar
  color="primary"
  mode="ios"
  *ngIf="storageService.instituteName.length > 0"
>
  <ion-title>{{storageService.instituteName}}</ion-title>
</ion-toolbar>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons class="menuButton" slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Saved Tests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgba(0, 0, 0, 0.04)">
  <ion-text *ngIf="testDetails.length == 0" color="danger" class="text-info">
    You haven't solved any test yet...!!!
  </ion-text>

  <ion-card
    class="card"
    #testCard
    *ngFor="let testDetail of testDetails"
    (click)="onTestClick()"
    [routerLink]="['/online-test-page', testDetail.testId]"
  >
    <ion-card-content class="ion-no-padding">
      <ion-grid fixed class="ion-no-padding">
        <ion-row>
          <ion-col size="2">
            <ion-item
              class="ion-no-margin ion-no-padding icon-item-start"
              lines="none"
            >
              <ion-icon
                class="subject-logo-start"
                name="calculator"
                color="primary"
              ></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col size="8">
            <ion-item
              class="ion-no-margin ion-no-padding ion-padding-end testId-item"
            >
              <ion-label class="ion-no-margin-bottom testId">
                {{testDetail.subjectName}}
              </ion-label>
            </ion-item>
            <ion-item class="ion-no-margin ion-no-padding" lines="none">
              <ion-label class="test-info">
                <ion-text class="date">
                  {{testDetail.testDate.slice(0, 2) + '-' +
                  testDetail.testDate.slice(2, 4) + '-' +
                  testDetail.testDate.slice(4)}}
                </ion-text>
                <ion-text class="status" color="success"> Completed </ion-text>

                <ion-text
                  class="score"
                  *ngIf="testDetail.testSubmitted == 'true'"
                >
                  {{testDetail.obtainedMarks}}/{{testDetail.totalMarks}}
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-item
              class="ion-no-margin ion-no-padding icon-item-end"
              lines="none"
            >
              <ion-icon
                class="subject-logo-end"
                name="checkmark-circle"
                color="success"
              ></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
