<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input placeholder="Enter Password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Re-Enter Password" [(ngModel)]="reEnterPAssword"></ion-input>
  </ion-item>
  <ion-button
    (click)="onCreatePass()"
    expand="block"
    fill="solid"
    color="primary"
    [disabled]="password == '' || reEnterPAssword == ''"
  >
    Create Password
  </ion-button>
  <ion-item>
    <ion-input placeholder="Enter OTP" [(ngModel)]="EnteredOtp"></ion-input>
  </ion-item>
  <ion-button
    expand="block"
    fill="solid"
    color="primary"
    (click)="verifyOtp()"
    [disabled]="EnteredOtp.length != 4 "
  >
    Verify
  </ion-button>
</ion-content> -->

<ion-button (click)="onBackClick()" fill="clear" class="back-button">
  <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
</ion-button>

<div class="login">
  <div heading-column-lr *ngIf="!storageService.firstTimeLogin">
    <h1 big-heading>Forgot</h1>
    <!-- <div style="height: 5px"></div> -->
    <p class="sub-line">Password ?</p>
    <!-- <h2 small-heading (click)="onRegisterClick()">REGISTER</h2> -->
    <p class="welcome">Enter new password</p>
  </div>

  <div heading-column-lr *ngIf="storageService.firstTimeLogin">
    <h1 big-heading>Set up</h1>
    <!-- <div style="height: 5px"></div> -->
    <p class="sub-line">Password</p>
    <!-- <h2 small-heading (click)="onRegisterClick()">REGISTER</h2> -->
    <p class="welcome">Enter new password</p>
  </div>

  <form name="loginForm" #loginForm="ngForm">
    <ion-item transparent>
      <!-- <ion-icon icon-small name="person" color="primary"></ion-icon> -->
      <ion-input
        name="emailId"
        [(ngModel)]="password"
        #emailId="ngModel"
        required
        [type]="inputType"
        placeholder="Enter Password"
      ></ion-input>
      <ion-icon
        [name]="iconName"
        slot="end"
        (click)="changeInputType()"
      ></ion-icon>
    </ion-item>
    <!-- <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)">
        <ion-text color="danger" *ngIf="emailId.errors.required"
          >Enter password</ion-text
        >
      </div> -->

    <ion-item transparent>
      <!-- <ion-icon icon-small name="person" color="primary"></ion-icon> -->
      <ion-input
        name="emailId"
        [(ngModel)]="reEnterPAssword"
        [type]="inputTypeRePass"
        placeholder="Re-Enter Password"
      ></ion-input>
      <ion-icon
        [name]="iconNameRePass"
        slot="end"
        (click)="changeInputTypeRePass()"
      ></ion-icon>
    </ion-item>
    <!-- <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)">
        <ion-text color="danger" *ngIf="emailId.errors.required"
          >Enter password</ion-text
        >
      </div> -->
    <div *ngIf="showErrorMessage">
      <ion-text color="danger">Password doesn’t match</ion-text>
    </div>

    <!-- <ion-label class="forgot-password" (click)="onForgotPass()"
      >Forgot Password</ion-label
    > -->
    <div style="height: 30px"></div>

    <ion-button
      color="primary"
      class="ion-button-class"
      size="large"
      expand="block"
      fill="solid"
      shape="round"
      (click)="onCreatePass()"
      [disabled]="emailId.invalid"
    >
      Set new password
    </ion-button>
  </form>
</div>

<ion-label class="version"> Version 1.0 </ion-label>
