<ion-header>
  <ion-toolbar
    color="primary"
    mode="ios"
    *ngIf="storageService.instituteName.length > 0"
  >
    <ion-title>{{storageService.instituteName}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <canvas [hidden]="attendanceDataLocal.length == 0" #pieChart></canvas>

  <ion-item>
    <ion-grid fixed>
      <ion-row>
        <ion-col [size]="subjects.length > 0 ? 4 : 6">
          <ion-select
            [(ngModel)]="selectedMonth"
            interface="popover"
            (ionChange)="onSelectChange()"
          >
            <ion-select-option value="0" [disabled]="true"
              >Month</ion-select-option
            >
            <ion-select-option value="13">All</ion-select-option>
            <ion-select-option value="1">January</ion-select-option>
            <ion-select-option value="2">February</ion-select-option>
            <ion-select-option value="3">March</ion-select-option>
            <ion-select-option value="4">April</ion-select-option>
            <ion-select-option value="5">May</ion-select-option>
            <ion-select-option value="6">June</ion-select-option>
            <ion-select-option value="7">July</ion-select-option>
            <ion-select-option value="8">August</ion-select-option>
            <ion-select-option value="9">September</ion-select-option>
            <ion-select-option value="10">October</ion-select-option>
            <ion-select-option value="11">November</ion-select-option>
            <ion-select-option value="12">December</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col [size]="subjects.length > 0 ? 4 : 6">
          <ion-select
            [(ngModel)]="selectedStatus"
            interface="popover"
            (ionChange)="onSelectChange()"
          >
            <ion-select-option value="0" [disabled]="true"
              >Status</ion-select-option
            >
            <ion-select-option value="Both">Both</ion-select-option>
            <ion-select-option value="Present">Present</ion-select-option>
            <ion-select-option value="Absent">Absent</ion-select-option>
          </ion-select></ion-col
        >
        <ion-col *ngIf="subjects.length > 0" size="4">
          <ion-select
            [(ngModel)]="selectedSubject"
            interface="popover"
            (ionChange)="onSelectChange()"
          >
            <ion-select-option value="0" [disabled]="true"
              >Subject</ion-select-option
            >
            <ion-select-option value="All">All</ion-select-option>
            <ion-select-option *ngFor="let sub of subjects" [value]="sub"
              >{{sub}}</ion-select-option
            >
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-list *ngIf="attendanceData.length > 0; else elseBlock">
    <ion-item *ngFor="let data of attendanceData">
      <ion-icon
        *ngIf="data.status == 'Present' "
        class="ion-margin-start"
        slot="start"
        name="checkmark"
        color="success"
      ></ion-icon>
      <ion-icon
        *ngIf="data.status == 'Absent' "
        class="ion-margin-start"
        slot="start"
        name="close-circle"
        color="danger"
      ></ion-icon>
      <ion-label>{{data.date}}</ion-label>
    </ion-item>
  </ion-list>
  <ng-template #elseBlock>
    <ion-item>
      <ion-label>No records found</ion-label>
    </ion-item>
  </ng-template>
</ion-content>
