<ion-header>
  <ion-toolbar
    color="primary"
    mode="ios"
    *ngIf="storageService.instituteName.length > 0"
  >
    <ion-title>{{storageService.instituteName}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons class="menuButton" slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Offline Exam Schedule</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>

  <ion-card
    *ngFor="let notification of offlineTestData"
    class="ion-padding"
   
  >
    <ion-card-title>{{notification.Title}}</ion-card-title>
    <ion-card-content>
      
      
        <ion-label class="lab">Date : </ion-label><ion-label style="margin: 4%;">{{notification.TestDate}}</ion-label> 
        <ion-label class="lab">In</ion-label> <ion-label style="margin: 2%;">{{dateConvert(notification.InTime)}}</ion-label>
        
      
        <ion-label class="lab">Out</ion-label> <ion-label style="margin: 2%;">{{dateConvert(notification.OutTime)}}</ion-label><br/>
        
        <ion-label class="lab">Subject : </ion-label>  <ion-label>{{notification.SubjectId}}</ion-label>
        <ion-label  style="margin: 4%;"> <ion-label class="lab">Total Marks : </ion-label><ion-label >{{notification.TotalMark}}</ion-label>
      </ion-label>
    
      </ion-card-content>
  </ion-card>
</ion-content>



<!-- <ion-content> {{apiData}} </ion-content> -->
