<ion-header>
  <ion-toolbar
  color="primary"
  mode="ios"
  *ngIf="storageService.instituteName.length > 0"
>
  <ion-title>{{storageService.instituteName}}</ion-title>
</ion-toolbar>
  <ion-toolbar color="primary" mode="ios">
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons> -->
    <ion-icon
      style="padding-left: 10px; font-size: 6vw"
      name="arrow-back"
      slot="start"
      (click)="onBackClick()"
    ></ion-icon>
    <ion-title>Online Tests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-card
    *ngFor="let notification of notifications"
    class="ion-padding"
    (click)="onTestClick(notification)"
  >
    <ion-card-title>{{notification.Title}}</ion-card-title>
    <ion-card-content>
      <ion-item lines="none" class="ion-no-margin ion-no-padding">
        <ion-label>{{notification.TestDate}}</ion-label> <br />
        <ion-label>{{notification.StartTime}}</ion-label>
        <ion-icon
          name="checkmark-circle"
          slot="end"
          [color]="notification.Status == 'Unread' ? 'danger' : 'success'"
        ></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
