// .chbox {
//     margin: 3px;
//     padding: 0px;
//  }

.login {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-49%, -49%);
    transform: translate(-49%, -49%);
    width: 90%
}

.registration {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 90%
}

.login-header {
    background: var(--ion-color-primary);
}

.logo-image {
    display: block;
    width: 120px;
    margin: 0 auto;
    text-align: center;
}

[heading-column-lr] {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25vw;
}

[big-heading] {
    font-size: 12vw !important;
    color: var(--ion-color-dark);
}

[small-heading] {
    margin-left: auto;
    padding-right: 40px;
    font-size: 15px;
}

[transparent] {
    background: transparent;
}

ion-input {
    font-size: 4.5vw;
    font-weight: 400;
}

[icon-small] {
    width: 30px;
}

ion-item {
    --highlight-color-focused: transparent;
    --highlight-height: 0;
    --highlight-color-invalid: #000;
    --highlight-color-valid: #ddd;
    --min-height: 65px;
    --padding-start: 0;
}

ion-label {
    color: #000;
    opacity: .8;
    font-size: 13px;
    display: block;
}

.forgot-password {
    color: var(--ion-color-primary);
    font-size: 13px;
    display: block;
    text-align: right;
    padding: 10px
}

.link-button {
    color: var(--ion-color-primary)
}

.demo-login {
    color: var(--ion-color-primary);
    margin-left: 80px;
}

.chbox {
    margin-right: 5px;
}

.label {
    margin-top: 10px;
    position: absolute;
    left: 30%;
}

.label-text {
    font-size: 5vw;
    font-weight: bold;
    text-decoration: underline;
}

.ion-button-class {
    margin-top: 6vw;
    width: 98%;
    font-size: 4vw
}

.welcome {
    position: absolute;
    top: 15%;
    font-size: 4.5vw;
    color: gray;
    font-weight: 400;
}

.version {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 4%;
    font-size: 4vw;
    color: gray;
    font-weight: 300;
}