<ion-header>
  <!-- <ion-toolbar
  color="primary"
  mode="ios"
  *ngIf="storageService.instituteName.length > 0"
>
  <ion-title>{{storageService.instituteName}}</ion-title>
</ion-toolbar> -->
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title (click)="onTitleClick()">{{details.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item >
    <ion-label id="about-us" class="ion-text-wrap ion-text-justify"></ion-label>
  </ion-item>

  <ion-label>{{details.address}}</ion-label>
</ion-content>
