<ion-header>
  <ion-toolbar
  color="primary"
  mode="ios"
  *ngIf="storageService.instituteName.length > 0"
>
  <ion-title>{{storageService.instituteName}}</ion-title>
</ion-toolbar>
  <ion-toolbar color="primary" mode="ios">
    <ion-icon
    style="padding-left: 10px; font-size: 6vw"
    name="arrow-back"
    slot="start"
    (click)="onBackClick()"
  ></ion-icon>
    <ion-title>{{type}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-select
      [(ngModel)]="selectedSubject"
      interface="popover"
      (ionChange)="onSelectChange()"
    >
      <ion-select-option
        *ngFor="let sub of subjectDetails"
        [value]="sub.subjectId"
        >{{sub.subjectName}}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-card
    class="ion-margin ion-padding"
    *ngFor="let file of fileInfo"
    (click)="onFileClick(file.FileName)"
  >
    <ion-card-subtitle> {{file.FileName}} </ion-card-subtitle>
  </ion-card>
</ion-content>
